footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(192, 190, 190);
    height: 150px;
   
    .fot_container{
        
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg{
            width: 16px;
        }
    }
}